@{
    ViewData["Title"] = "Success Submit";
}

<center style="margin-top:100px">
    <span style="color: yellow; font-size: 1000%;">&starf;</span>
    <h1 style="color: teal;font-family: 'Times New Roman', Times, serif;">Thank you for your opinion</h1>
</center>
